/* Main Styling*/
:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --primary-color: #414f6b;
}
.navbar-1 a,
.navbar-2 a {
  font-family: var(--primary-font);
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  padding: 0 20px;
}
.title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 36px;
}
.text {
  font-family: var(--primary-font);
  font-weight: 700;
}
/* Homepage Section */
.parent {
  position: relative;
}
.homepage-bg {
  position: relative;
}
.container li {
  display: inline;
  list-style: none;
}
.navbar-1 {
  position: relative;
  top: -780px;
  max-width: 900px;
  margin-left: 15%;
}

.navbar-1 a {
  color: white;
}
/* History Section*/
.navbar-2 a {
  color: var(--primary-color);
  margin-top: -20px;
}
.la-mountains {
  font-family: "Bebas Neue", sans-serif;
  line-height: 22px;
  font-size: 30px;
  margin-right: 550px;
}
.losangeles {
  color: #4d4d4d;
}
.mountains {
  color: var(--primary-color);
}

.history-paragraph {
  position: absolute;
  top: 50px;
  left: 300px;
}
.history-paragraph .title {
  position: absolute;
  top: 115px;
  left: 155px;
}
.history-paragraph .text {
  margin: -60px 0 0 85px;
  padding-right: 300px;
}
.number {
  font-family: var(--secondary-font);
  font-size: 160px;
  color: rgb(65, 79, 107, 0.5);
}
.carousel {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  padding-left: 42%;
  background-color: rgba(65, 79, 107, 0.7);
}
.carousel-indicators button {
  border: 1px !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 5px !important;
}
.carousel-inner {
  padding: 15px 0 30px 0;
}
/* Climb Section*/
.climb-paragraph {
  display: flex;
  padding-left: 320px;
  margin: -30px 0 -210px 0;
}
.climb-paragraph .title {
  margin: 115px 0 0 -35px;
  padding-right: 20px;
}
.climb-paragraph .text {
  margin: 95px 290px 0 15px;
}
.mountain-nav {
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  padding: 0 0 0 300px;
  position: relative;
  margin-top: 180px;
  font-size: 20px;
}
.nav-link {
  color: #a0a7b5 !important;
}
.mountain-nav button.active {
  color: var(--primary-color) !important;
  background-color: #a0a7b5 !important;
  text-decoration: underline;
}
.schedule {
  font-family: var(--secondary-font);
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 0;
}
.schedule-div {
  background-color: rgba(245, 247, 250, 0.6);
  top: 2125px;
  left: 320px;
  position: absolute;
  padding: 20px 40px;
}
.schedule-div ul {
  list-style: none;
  font-family: var(--primary-font);
  font-weight: 700;
  padding: 0;
}
/* Mobile Accordion */
.accordion-body {
  padding: 0 !important;
}
.accordion .schedule-div {
  padding: 0 10px;
  margin: -1120px 0 0 -300px;
}
/* Footer */
footer {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  background: var(--primary-color);
  line-height: 24px;
  color: #63769d;
}
.footer-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  margin-top: -50px;
  margin-left: 50px;
}
.copyright {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  margin: -50px 0 0 700px;
}
/* Responsive Display */
@media (max-width: 900px) {
  .navbar-1 a,
  .navbar-2 a {
    padding: 0 10px;
  }
  .navbar-1 {
    top: -200px;
    margin-left: 0;
  }
  .navbar-2 {
    margin-top: -20px;
    padding: 0;
    display: flex;
    justify-content: space-between !important;
  }
  .la-mountains {
    margin-right: 0px;
  }
  .number {
    font-size: 50px;
    padding: 20px 0 0 20px;
    margin: 0;
  }
  .carousel {
    position: relative;
    padding-left: 25%;
  }

  .history-paragraph {
    padding-left: 10px;
    margin: 0 0 0 -300px;
    font-size: 15px;
  }
  .history-paragraph .title {
    top: 12%;
    left: 22%;
  }
  .history-paragraph .text {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.4);
  }
  .climb-paragraph {
    padding-left: 10px;
    margin: 10px 0;
    font-size: 15px;
  }
  .climb-paragraph .title {
    margin: 35px 0 0 0px;
    padding-right: 0;
  }
  .climb-paragraph .text {
    margin: 100px 0px 0 -170px;
    padding: 10px;
  }
  .copyright {
    margin: 0;
    padding: 0;
  }
}
